[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hover"]
	path = hover
	url = https://github.com/r4fun/hover
[submodule "keys"]
	path = keys
	url = https://github.com/r4fun/keys
